
%script#newsitems_index-template{:type => "text/template"}
  .newsitems
    Newsitems
    
%script#newsitems_show_small-template{:type => "text/template"}
  .item
    <a href="<%= link_path %>"><%= title %></a>