
%script#newsitems_index-template{:type => "text/template"}
  .newsitems
    <% _.each(newsitems, function(item) { %>
    .item
      <a href="<%= item.url %>"><%= item.name %></a>
    <% }) %>
    
%script#newsitems_show_small-template{:type => "text/template"}
  .item
    Newsitem