    
%script#newsitems_show_small-template{:type => "text/template"}
  .item
    <% if ( typeof( galleryname ) != 'undefined' ) { %>
    <a galleryname="<%= galleryname %>" class='gallery-link' href="javascript:void(0);"><%= title %></a>
    <% } %>

    <% if ( typeof( reportname ) != 'undefined' ) { %>
    <a reportname="<%= reportname %>" class='report-link' href="javascript:void(0);"><%= title %></a>
    <% } %>
    
%script#newsitems_report-template{:type => "text/template"}
  .newsitem
    Newsitem report

%script#newsitems_gallery-template{:type => "text/template"}
  .newsitem
    Newsitem gallery
    
