
%script#sites_newsitems-template{:type => "text/template"}
  .newsitems
    <% _.each(newsitems, function(item) { %>
    .item
      <a href="<%= item.url %>"><%= item.name %></a>
      <div><%= item.descr %></div>
      <%= item.link_path %>
    <% }) %>
    
%script#sites_newsitem-template{:type => "text/template"}
  .item
    Newsitem