<div class="row">
  <div class="large-12 columns cities-show-header">
    <h2 class="text-center"><a href="{{ router.city_path(city) }}">{{ city.name }}</a></h2>
    <ul class="button-group cities-menu" >
      <li><a href="{{ router.city_path(city) }}" class="tiny button" >Home</a></li>
      <li><a href="{{ router.city.newsitems_path( city ) }}" class="tiny button" >News</a></li>
      <li><a href="" class="tiny button" >Events</a></li>
      <li><a href="" class="tiny button" >Venues</a></li>
      <li><a href="" class="tiny button" >Hotels</a></li>
      <li><a href="" class="tiny button" >Restaurants</a></li>
      <li><a href="" class="tiny button" >People</a></li>
      <li><a href="" class="tiny button" >Galleries</a></li>
      <li><a href="" class="tiny button" >Stories</a></li>
    </ul>
  </div>
</div>
