
<!-- testing -->
<div class="hide partial-name">cities/show.html</div>

<div class="row">
  <div class="large-12 columns cities-show-header">
    <h2 class="text-center"><a href="{{ router.city_path(city) }}">{{ city.name }}</a></h2>
    <ul class="button-group cities-menu" >
      <li><a href="" class="tiny button" >Home</a></li>
      <li><a href="{{ router.city.newsitems_path( city ) }}" class="tiny button" >News</a></li>
      <li><a href="" class="tiny button" >Events</a></li>
      <li><a href="" class="tiny button" >Venues</a></li>
      <li><a href="" class="tiny button" >Hotels</a></li>
      <li><a href="" class="tiny button" >Restaurants</a></li>
      <li><a href="" class="tiny button" >People</a></li>
      <li><a href="" class="tiny button" >Galleries</a></li>
      <li><a href="" class="tiny button" >Stories</a></li>
    </ul>
  </div>

  <div class="large-6 columns">
    <div id="cities_show_canvas"></div>
  </div>
  <div class="large-6 columns" id="events_list">
    <h4 class="text-center" >Events</h4>
    <ul class="events-list">
      <li ng-repeat="event in city.events">
        <span class="date">{{ Meta.pretty_date( event.date ) }}</span>
        <a href="{{ router.event_path( event ) }}">{{ event.name }}</a>
      </li>
    </ul>
  </div>
</div>
  
<div class="row">
  <div class="large-6 columns">
    <h3 class="text-center" >People</h3>
    <ul class="inline-list" >
      <li ng-repeat="person in city.j_users">
        <img class="thumb profile-pic" src="{{ person.thumb_url }}" alt="{{ person.username }} profile pic" />
        <br />
        {{ person.username }}
      </li>
    </ul>
  </div>
  <div class="large-6 columns">
    <h4 class="text-center">Add in this city</h4>
    <ul class="inline-list">
      <li><a href="" class="tiny button">New Photo</a></li>
      <li><a href="" class="tiny button">New Story</a></li>
      <li><a href="" class="tiny button">New Gallery</a></li>
      <li><a href="" class="tiny button">New Video</a></li>
      <li><a href="" class="tiny button">New Review</a></li>
      <li><a href="" class="tiny button">New Event</a></li>
      <li><a href="" class="tiny button">New Venue</a></li>
    </ul>
    <!--<div ng-include="router.partial('cities/newsitems')"></div>-->
  </div>
</div>

<div class="row">
  <div class="large-10 large-push-1 columns">
    <h5 class="text-center">Newsitems <a>[main]</a> <a>[realtime]</a> <a>[unmoderated]</a></h5>
    <div ng-repeat="n in newsitems" class="panel" >
      <h5><a href="{{ n.link_path }}">{{ n.name }}</a> <small>{{ Meta.pretty_date(n.created_at) }}</small></h5>
      {{ n.descr }}
      <img src="{{ n.image_path }}" alt="{{ n.name }} {{ n.descr }}" />
    </div>
  </div>
</div>

<!--
<div class="row">
  <div class="large-6 columns">
    <h3>Reports</h3>
    <ul>
      <li ng-repeat="r in city.j_reports">
        <a href="{{ router.report_path(r,city) }}">{{ r.name }}</a>
      </li>
    </ul>
  </div>
  <div class="large-6 columns">
    <h3>Galleries</h3>
    <ul>
      <li ng-repeat="g in city.j_galleries">
        <a href="{{ router.gallery_path(g) }}">{{ g.name }}</a>
      </li>
    </ul>
  </div>
</div>
-->
