
<!-- testing -->
<div class="hide partial-name">cities/show.html</div>

<div ng-include="router.partial('cities/header')"></div>

<div class="row">
  <div class="large-6 columns">
    <div id="cities_show_canvas"></div>
  </div>
  <div class="large-6 columns" id="events_list">
    <h4 class="text-center" >Events</h4>
    <ul class="events-list">
      <li ng-repeat="event in city.events">
        <span class="date">{{ Meta.pretty_date( event.date ) }}</span>
        <a href="{{ router.event_path( event ) }}">{{ event.name }}</a>
      </li>
    </ul>
  </div>
</div>
  
<div class="row">
  <div class="large-6 columns">
    <h3 class="text-center" >People</h3>
    <ul class="inline-list" >
      <li ng-repeat="person in city.j_users">
        <img class="thumb profile-pic" ng-src="{{ person.profile_photo_path }}" alt="{{ person.username }} profile pic" />
        <br />
        {{ person.username }}
      </li>
    </ul>
  </div>
  <div class="large-6 columns">
    <h4 class="text-center">Add in this city</h4>
    <ul class="inline-list">
      <li><a href="javascript:void(0);" class="tiny button" data-reveal-id="new_photo_modal" >New Photo</a></li>
      <li><a href="javascript:void(0);" class="tiny button" data-reveal-id="new_report_modal" >New Story</a></li>
      <li><a href="javascript:void(0);" class="tiny button" data-reveal-id="new_gallery_modal" >New Gallery</a></li>
      <!--<li><a href="javascript:void(0);" class="tiny button" data-reveal-id="new_video_modal" >New Video</a></li>-->
      <li><a href="javascript:void(0);" class="tiny button" data-reveal-id="new_review_modal" >New Review</a></li>
      <li><a href="javascript:void(0);" class="tiny button" data-reveal-id="new_event_modal" >New Event</a></li>
      <li><a href="javascript:void(0);" class="tiny button" data-reveal-id="new_venue_modal" >New Venue</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="large-10 large-push-1 columns">
    <h5 class="text-center">Newsitems <a>[main]</a> <a>[realtime]</a> <a>[unmoderated]</a></h5>
    <div ng-repeat="n in newsitems" class="panel" >
      <h5><a href="{{ n.link_path }}">{{ n.name }}</a> <small>{{ Meta.pretty_date(n.created_at) }}</small></h5>
      <div class="descr">{{ n.descr }}</div>
      <img class="thumb" ng-src="{{ n.image_path }}" alt="{{ n.name }}" />
    </div>
  </div>
</div>

<!--
<div class="row">
  <div class="large-6 columns">
    <h3>Reports</h3>
    <ul>
      <li ng-repeat="r in city.j_reports">
        <a href="{{ router.report_path(r,city) }}">{{ r.name }}</a>
      </li>
    </ul>
  </div>
  <div class="large-6 columns">
    <h3>Galleries</h3>
    <ul>
      <li ng-repeat="g in city.j_galleries">
        <a href="{{ router.gallery_path(g) }}">{{ g.name }}</a>
      </li>
    </ul>
  </div>
</div>
-->

<div id="new_event_modal" class="reveal-modal" data-reveal> 
  <h3 class="text-center">New Event</h3>
  <div ng-include="router.partial_compiled('events/new')"></div>
  <a class="close-reveal-modal">&#215;</a>
</div>
<div id="new_gallery_modal" class="reveal-modal" data-reveal> 
  <h3 class="text-center">New Gallery</h3>
  <div ng-include="router.partial_compiled('galleries/new')"></div>
  <a class="close-reveal-modal">&#215;</a>
</div>
<div id="new_photo_modal" class="reveal-modal" data-reveal> 
  <h3 class="text-center">New Photo</h3>
  <div ng-include="router.partial_compiled('photos/new')"></div>
  <a class="close-reveal-modal">&#215;</a>
</div>
<div id="new_review_modal" class="reveal-modal" data-reveal> 
  <h3 class="text-center">New Review</h3>
  <div ng-include="router.partial_compiled('reviews/new')"></div>
  <a class="close-reveal-modal">&#215;</a>
</div>
<div id="new_report_modal" class="reveal-modal" data-reveal> 
  <h3 class="text-center">New Story</h3>
  <div ng-include="router.partial_compiled('reports/new')"></div>
  <a class="close-reveal-modal">&#215;</a>
</div>
<div id="new_venue_modal" class="reveal-modal" data-reveal>
  <h3 class="text-center">New Venue</h3>
  <div ng-include="router.partial_compiled('venues/new')"></div>
  <a class="close-reveal-modal">&#215;</a>
</div>
<!-- @TODO only desktop! -->
<!-- <div id="new_video_modal" class="reveal-modal" data-reveal> 
  <h3 class="text-center">New Video</h3>
  <div ng-include="'/en/photos/new'"></div>
  <a class="close-reveal-modal">&#215;</a>
</div> -->

<script type="text/javascript">
  // Is actually required for new-something callouts.
  $(document).foundation();
</script>
